@import url('https://fonts.googleapis.com/css2?family=Iceland');

body {
  font-family: 'Iceland', regular;
  color: #4f78d1;
  line-height: 1.7;
  font-size: 25px;
  background-color: #222222;
  background-image: url("https://images.unsplash.com/photo-1505506874110-6a7a69069a08?w=900&h=900");
}

.navbar {
  background-color: rgba(22, 22, 22, 0.8);
  display: flex;
  justify-content: center;
}

.link {
  color: #efefef;
  display: inline-block;
  padding: 3px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: rgb(136, 180, 231);
  transform: scale(2.1);
}

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {
  color: #bbb;
}

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 40px;
  background: #053999;
  display: inline-block;
  padding: 40px 80px;
  color: #fff;
  border-radius: 0%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.home-link:hover {
  border-radius: 5px;
  background: #9b8d8d;
  color: black;
}

.click{
  text-align: center;
}